version: '3.8'

services:
  cs2-predictor-cpu:
    build: 
      context: ..
      dockerfile: deploy/Dockerfile.cpu
    container_name: cs2-major-swiss-predictor-cpu
    volumes:
      # 挂载数据目录
      - ../data:/app/data
      # 挂载输出目录并实现持久化
      - ../output:/app/output
    command: bash -c "python cs2_gen_preresult.py && python cs2_gen_swiss.py && python cs2_prediction_final.py"